<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>980114871548-rrtgplhedk6f7jfu8v4hpu8gom8vi8mj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.980114871548-rrtgplhedk6f7jfu8v4hpu8gom8vi8mj</string>
	<key>API_KEY</key>
	<string>AIzaSyDjrW52x54i_3h4SbCu-ADg6dErUmjSma8</string>
	<key>GCM_SENDER_ID</key>
	<string>980114871548</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.lincesapp.Uber-Clone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-1a29f</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-1a29f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:980114871548:ios:c83ad3626bce2063a7f379</string>
</dict>
</plist>